{% extends "base.html" %}
{% block content %}
<h1>Список товарів</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.category }}</p>
                    <p class="card-text">{{ product.price }} грн</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}